@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
} 

body{
    background-color: black;
    color: white;
}

.container{
    min-height: 100vh;
}

.border{
    border: 2px solid black;
    margin: 2px;
}

.left-section{
    width: 25vw;
    border-radius: 25px;
}

.right-section{
    width: 75vw;
    border-radius: 25px;
    margin-top: 10px;
    padding: 5px;
    position: relative;
}

.logo-box{
    gap: 13px;
    align-items: center;
}

.logo-box img{
    height: 35px;
}

.invert{
    filter: invert(1);
}

.home ul li{
    list-style-type: none;
    width: 20px;
    display: flex;
    gap: 15px;
    padding-top: 18px;
}

.library{
    min-height: 50vh;
}

.library ul{
    list-style-type: none;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 18px;
    font-weight: bold;
    font-size: 18px;
}

.footer{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 34px;
}

.footer a{
    text-decoration: none;
    color: grey;
    font-size: 13px;
}

.song-container{
        padding-top: 5px;
}

.song-container .trending{
    font-weight:  bold;
    font-size: 20px;
    color: #ffffff;
    padding: 7px 8px;
}

.song-container .trending:hover{
}

.song-list{
    flex-wrap: wrap;
    gap: 19px;
    height: 80vh;
    overflow: scroll;
}

.player {
    background: linear-gradient(135deg, #001A0F, #002B1A);
    border: 1px solid #00FF9C;
    box-shadow: 0 0 15px rgba(0, 255, 156, 0.5);

    height: 60px;
    align-items: center;
    justify-content: center;
    gap: 20px;

    position: absolute;
    left: 10px;
    right: 15px;
    bottom: 10px;

    border-radius: 10px;
    box-sizing: border-box;
}



/* scroll bar css start */
.song-list::-webkit-scrollbar {
    width: 6px;
}

.song-list::-webkit-scrollbar-track {
    background: transparent;
}

.song-list::-webkit-scrollbar-thumb {
    background: #3a3a3a;
    border-radius: 10px;
}

.song-list::-webkit-scrollbar-thumb:hover {
    background: #666;
}

/* scroll bar css END */

.song-box{
    width: 162px;
    /* background-color: #3f1a1a; */
    padding: 5px;
}

.song-box:hover{
    background-color: #1f1f1f;
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s linear;
}

.song-box h2{
    font-size: 19px;
}

.song-box p{
    font-size: 13px;
    color: #ccc;
}

.song-box img{
    border-radius: 8px;
    object-fit: contain;
    width: 100%;
}

.btns{
    gap: 10px;
}

.btns button{
     width: 74px;
    height: 33px;
    color: white;
    border-radius: 14px;
    border: none;
    font-weight: bold;
}

.btns button:first-child{
    background-color: #121212;
}

.btns button:nth-child(2){
    background-color: white;
    color: black;
}

.btns button:hover{
    transform: scale(1.1);
    transition: 0.3s linear;
}





